body{
    /*margin-margen del elemento*/
    margin: 0;
    /*padding-"margen" hacia adentro*/
    padding: 0;
    /* Fuentes del texto */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

/* *********************************************** */
/* ************************************** */
/* ***************************** */
/* NAVEGACIÓN */

header {
    /* width - ancho /// height-alto */
    width: 100%;
    height: 60px;
}

header nav{
    /* Justificar a la derecha */
    /* Nos habilita usar flex-end, flex-start */
    display: flex;
    justify-content: flex-end;
}

header nav .nav-right-section{
    width: 250px;
    height: auto;
    /* Eliminar puntos */
    list-style: none;
    display: flex;
    justify-content: center;
    /* Centrado verticalmente */
    align-items: center;
}

a {
    /* Eliminar línea debajo de texto */
    text-decoration: none;
}

nav .nav-right-section a{
    color: black;
    margin-right: 20px;
}
/*Icono del menu*/
nav .nav-right-section .menu{
    /*Icono desde CSS*/
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    /*Que la imagen esté contenida en el elemento más grande*/
    background-size: contain;
    width: 20px;
    height: 20px;
    /*Para que las imagenes no se repitan*/
    background-repeat: no-repeat;
}
/*Imagen del usuario*/
nav .nav-right-section img{
    /*Redondeamos bordes*/
    border-radius: 100%;
    /*Cambiar tamaño de la imagen*/
    width: 30px;
    height: 30px;

}
/* ************************************* */
/* ************************************* */
/* ************************************* */
/* MAIN */

main{
    /*Agregar espacio entre header y main*/
    margin-top:200px;
    text-align: center;
}

main .main-logo{
    background-color: blue;
    width: 100px;

    /*Centrar absolutamente gracias a los márgenes automaticos*/
    /*Vertical//Horizontal*/
    margin: 0 auto;
}
main .main-logo img{
    height: 70px;
}
main .main-input{
    width: 600px;
    /* Centrar absolutamente gracias a los márgenes automáticos */
    /* Vertical // Horizontal */
    margin: 0 auto;
}

main .main-input-container{
    /* ancho borde || borde-estilo || borde-color */
    border: 1px solid #dfe1e5;
    border-radius: 25px;
    width: 600px;
}

main .main-input input{
    height: 35px;
    /* Quitar el borde */
    border: none;
    /* Quitar el borde cuando está activo el input */
    outline: none;
    width: 430px;
}
main .main-input .search-icon{
    background-image: url(https://seekicon.com/free-icon-download/search_20.svg);
    background-size: contain;
    padding-left: 7%;
    /* para que las imágenes no se repitan */
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

main .main-input .micro-icon{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png);
    background-size: contain;
    padding-left: 30px;
    background-repeat: no-repeat;
    width: 40px;
    height: 30px;
}

main .main-input .cam-icon{
    background-image: url(https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg);
    background-size: contain;
    padding-left: 30px;
    background-repeat: no-repeat;
    width: 20px;
    height: 10px;
}
main .btn-google{
    padding-top: 30px;
}
main .buscar{
    background-color: white;
    border-radius: 3px;
    padding: 10px;
    margin-right: 8px;
    border-color: beige;0'
}
main .Youtube{
    background-color: white;
    border-radius: 3px;
    padding: 10px;
    margin-right: 8px;
    border-color: beige;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(238, 238, 235);
    color: black;
}
footer .mex-sec{
    padding: auto;
    padding-bottom: 12px;
    padding-top: 6px;
    list-style: none;
    padding-left: 30px;
    border-bottom: 1px solid snow;
}
footer .section-info{
    padding-bottom: 2px;
    padding-top: 8px;
    padding-right: 10px;
    padding-left: 14px;
}
footer .left-sec-foot{
    list-style: none;
    float: left;
    padding-left: 25px;
}
footer .right-sec-foot{
    list-style: none;
    float: left;
    padding-left: 28px;
}